body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.section-01{
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
 .heading{
    text-align: center;
    padding-top: 15%;
    margin: 0;
    font-size: 50px;
    color: white;
}
.below-heading{
    color: white;
    text-align: center;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 5px;
    font-weight: 600;
}
.middling{
    text-align: center;
    padding-top: 20px;
}

/* second section */
.section-02{
    text-align: center;
}
.heading2{
    text-align: center;
    padding-top: 10%;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}
.below-heading2{
    text-align: center;
}

.pricing{
    text-align: center;
    padding: 5%;
}
.pricing a{
    text-decoration: none;
    background-color: #fafafa;
    color: #707070;
    padding: 35px 25px;
    font-weight: 600;
    font-size: 20px;
}
#red-box{
    border: 2px solid red;
    background-color: #ffeeee;
    color: #ff5959;
    border-radius: 5px;
}
.payment{
    margin-top: 3%;
}
hr{
    width: 60%;
}


/* third section  */
.parent{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.childs{
    margin-left: 2%;
    padding-left: 2%;
    padding-top: 5%;
}
.child-1{
    background-color: #edf5f6;
}
#child-01{
    background-color: #edf5f6;
}
#child-02{
    background-color: #ffeeee;
}
#child-03{
    background-color: #fff4d6;
}

/* fourth section  */
.section-04{
    display: flex;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 5%;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}

.half-width img{
    width: 90%;
}

.text{
    width: 45%;
}

/* fifth section  */
.section-05{
    display: flex;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 5%;
}

/* sixth section  */
.subscribe{
    text-align: center;
    background-color: #fff4d6;
    margin: 0 5% 0 5%;
    padding: 5% 0;
}
.form-design{
    padding: 10px 50px;
    background-color: rgba(128,128,128,0.3);
    border: none;
}

footer{
    margin-top: 5%;
    background-color: black;
    height: 100px;
    width: 100%;
}

footer h3{
    color: #ff5959;
    text-align: center;
    padding-top: 15px;
}
footer h5{
    color: white;
    text-align: center;
}
