body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.section-01{
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.section-01 .heading{
    text-align: center;
    padding-top: 15%;
    margin: 0;
    font-size: 50px;
    color: white;
}
.below-heading{
    color: white;
    text-align: center;
}
.button{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: tomato;
    border-radius: 5px;
}
.middling{
    text-align: center;
    padding-top: 20px;
}